body {
	margin: 0;
	padding: 0;
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
}

.Introbox {
	width: 450px;
	background:  rgba(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Center Gothic', sans-serif;
}

.boxImage {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.Introbox h1 {
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.Introbox h5 {
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}

.Introbox p {
	text-align: justify;
}

ul {
	margin:0;
	padding:0;
}
.Introbox li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.Introbox li a {
	color: white;
	text-decoration: none;
	font-size: 3em;
}

.infoBox {
	width: 75%;
	background:  rgba(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Center Gothic', sans-serif;
	display: flex;
	justify-content: space-between;
}